
<p> <code>mat-selection-list</code> can be used to select multiple values.</p>
<p> This example use <code>ngModel</code>, you can see an example with <code>formControl</code>&nbsp;<a href="/list/select">here</a></p>
<mat-card>
  <mat-card-content>
    <app-item-template htmlFile="selection-multiple-list.component.html"
                   tsFile="selection-multiple-list.component.ts"
                   specFile="selection-multiple-list.component.spec.ts">
      <app-selection-multiple-list></app-selection-multiple-list>
    </app-item-template>
  </mat-card-content>
</mat-card>
