<p> <code>mat-selection-list</code> can be used to select a value.</p>
<p> This example use <code>formControl</code>, you can see an example with <code>ngModel</code>&nbsp;<a href="/list/multiSelect">here</a></p>
<mat-card>
  <mat-card-content>
    <app-item-template htmlFile="selection-list.component.html"
                   tsFile="selection-list.component.ts"
                   specFile="selection-list.component.spec.ts">
      <app-selection-list></app-selection-list>
    </app-item-template>
  </mat-card-content>
</mat-card>
