<mat-toolbar color="primary">
  <button mat-icon-button (click)="headerBtnClicked()">
    <mat-icon>menu</mat-icon>
  </button>
  Angular Material ❤️ NgMocks
</mat-toolbar>

<mat-drawer-container>
  <mat-drawer mode="side" [opened]="opened">
    <mat-nav-list>
      <ng-container  *ngFor="let link of links">
        <a mat-list-item routerLinkActive="current-category" [routerLink]="link.route">{{ link.title }}</a>
        <a mat-list-item class="sub-item" routerLinkActive="current-item" *ngFor="let sublink of link.children" [routerLink]="[ link.route, sublink.route]">
          • {{ sublink.title }}
        </a>
      </ng-container>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
