mat-drawer-container {
  height: calc(100vh - 64px);
}

mat-drawer-content {
  padding: 8px;
}
mat-nav-list {
  min-width: 240px;
}
.current-item {
  background: rgba(105,240,174,.15);
  color: #69f0ae;
}

a[mat-list-item]:not(.sub-item) {
  padding-left: 8px;
}
.current-category {
  background: rgba(255,255,255,.04);
  & > span::ng-deep {
    color: #69f0ae;
  }
  color: #69f0ae;
}

.sub-item {
  font-size: 14px;
}
