<h4>Basic Bottom Sheet</h4>

<p>Test the bottom sheet and the parent component separately</p>

<mat-card>
  <mat-card-content>
    <app-item-template htmlFile="base-bottom-sheet.component.html"
                   tsFile="base-bottom-sheet.component.ts"
                   specFile="base-bottom-sheet.component.spec.ts">
      <app-base-bottom-sheet></app-base-bottom-sheet>
    </app-item-template>
  </mat-card-content>
</mat-card>
<mat-divider></mat-divider>
<mat-card>
  <mat-card-content>
    <app-item-template htmlFile="base-example-sheet.component.html"
                       tsFile="base-example-sheet.component.ts"
                       specFile="base-example-sheet.component.spec.ts">
       Navigate to other tabs to see bottom sheet implementation
    </app-item-template>
  </mat-card-content>
</mat-card>
