<div>
  <button mat-button>Basic</button>

  <a mat-button href="https://www.google.com/" target="_blank">Link</a>

  <button mat-raised-button disabled>Disabled</button>

  <button mat-stroked-button color="warn">Warn</button>

  <button mat-flat-button>Basic</button>

  <button mat-icon-button color="primary">
    <mat-icon>home</mat-icon>
  </button>

  <button mat-fab color="accent">
    <mat-icon>bookmark</mat-icon>
  </button>

  <button mat-mini-fab color="warn">
    <mat-icon>filter_list</mat-icon>
  </button>

  <button mat-stroked-button (click)="increment()"> Click: {{ click }}</button>
</div>
